body {
font-family: 'Telex', sans-serif;
}

.display-1 {
font-family: 'Josefin Sans', sans-serif;
}

h1, h3 {
font-family: 'Inconsolata', monospace;
}

#mainNav {
background-color: white;
font-family: 'Inconsolata', monospace;
}

.native-brand {
background-color: #ffffff;
color: #313437;
}

.jumbotron {
background-color: transparent;
background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
color: black;
}

.article-list {
color: #313437;
background-color: #fff;
}

.article-list p {
color: #7d8285;
}

.article-list h2 {
font-weight: bold;
margin-bottom: 40px;
color: inherit;
}

@media (max-width:767px) {
.article-list h2 {
  margin-bottom: 25px;
  padding-top: 25px;
  font-size: 24px;
}
}

.article-list .intro {
font-size: 16px;
max-width: 500px;
margin: 0 auto;
}

.article-list .intro p {
margin-bottom: 0;
}

.article-list .articles {
padding-bottom: 40px;
}

.article-list .item {
text-align: center;
}

.article-list .item .name {
font-weight: bold;
margin-top: 20px;
color: inherit;
}

.article-list .item .description {
font-size: 14px;
margin-top: 15px;
color: black;
}

.article-list .item .action {
font-size: 24px;
width: 24px;
margin: 22px auto 0;
line-height: 1;
display: block;
color: #4f86c3;
opacity: 0.85;
transition: opacity 0.2s;
text-decoration: none;
}

.article-list .item .action:hover {
opacity: 1;
}


.profile-content {
font-size : 2rem;
}

.dropdown-content a:hover {
background-color: transparent;
}

.dropdown-content a:focus {
  background-color: transparent;
}

.dropdown-content a:active {
  color: black;
}

.modal-content {
    background-color: white;
}

.modify-profile-form {
  background-color: #d6d7a2;
  outline: none;
}

#view-a {
  text-decoration: none;
  color : black;
}

#header {
  background-image: url(handicraft.jpg);
  padding-top: 20%;
  padding-bottom: 20%;
}

.post-content {
  font-size : 1.3rem;
}

.btn:focus {
  box-shadow: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}